# Allure directories
allure-report/
allure-results/

# Build folders
.gradle/
build/

# IDE & OS files
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Output
out/
bin/

# VSCode
.vscode/

# TestNG or test outputs
test-output/
